= form.input :monday
= form.input :tuesday
= form.input :wednesday
= form.input :thursday
= form.input :friday
= form.input :saturday
= form.input :sunday

= form.input :open_at, as: :string
= form.input :close_at, as: :string

= form.input :open_all_day