= table.association :branch, label_method: :name, url: ->(entry) { branch_path(entry.branch) }
= table.column :monday do |resource|
  - if resource.monday
    - capture_haml do
      %div.text-center
        %i.glyphicon.glyphicon-ok
= table.column :tuesday do |resource|
  - if resource.tuesday
    - capture_haml do
      %div.text-center
        %i.glyphicon.glyphicon-ok
= table.column :wednesday do |resource|
  - if resource.wednesday
    - capture_haml do
      %div.text-center
        %i.glyphicon.glyphicon-ok
= table.column :thursday do |resource|
  - if resource.thursday
    - capture_haml do
      %div.text-center
        %i.glyphicon.glyphicon-ok
= table.column :friday do |resource|
  - if resource.friday
    - capture_haml do
      %div.text-center
        %i.glyphicon.glyphicon-ok
= table.column :saturday do |resource|
  - if resource.saturday
    - capture_haml do
      %div.text-center
        %i.glyphicon.glyphicon-ok
= table.column :sunday do |resource|
  - if resource.sunday
    - capture_haml do
      %div.text-center
        %i.glyphicon.glyphicon-ok
= table.column :open_at
= table.column :close_at
= table.timestamps